app = "ai-service-mezs5q"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  FLASK_PORT = "8080"
  FLASK_DEBUG = "false"
  FLASK_APP = "app.py"
  PYTHONUNBUFFERED = "1"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80
    force_https = true

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
